In [38]:
import pandas as pd
import numpy as np

In [5]:
ser = pd.Series([0.23,0.5,0.75,1.0])
print(ser)

0    0.23
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
arr = ser.values
print(arr)

[0.23 0.5  0.75 1.  ]

In [9]:
ind = ser.index
print(ind)

RangeIndex(start=0, stop=4, step=1)

In [106]:
ser = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
ser['b']

0.5

In [16]:
dict = {'a':1, 2: 'two', 'third': True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [20]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [21]:
population["California": 'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [25]:
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [28]:
states = pd.DataFrame({'population': population, 'area': area})
print(states)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [30]:
states.columns

Index(['population', 'area'], dtype='object')

In [31]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [65]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [42]:
arr = np.random.rand(3,2)
print(arr)

[[0.36832411 0.25026008]
 [0.16854084 0.23464704]
 [0.86556477 0.55474849]]

In [44]:
pd.DataFrame(arr, columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.368324  0.250260
b  0.168541  0.234647
c  0.865565  0.554748

In [46]:
ser['b']

0.5

In [48]:
'a' in ser

True

In [50]:
0.25 in ser

False

In [52]:
ser.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [55]:
ser['e'] = 1.25
ser['a'] = 0.125
print(ser)

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [57]:
ser['a':'c']

a    0.125
b    0.500
c    0.750
dtype: float64

In [59]:
ser[(ser > 0.3) & (ser < 0.8)]

b    0.50
c    0.75
dtype: float64

In [61]:
ser[['a', 'e']]

a    0.125
e    1.250
dtype: float64

In [63]:
ser[0:2]

a    0.125
b    0.500
dtype: float64

In [66]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [68]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [70]:
states['density'] = states['population'] / states['area']

In [72]:
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [82]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]

np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [85]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

pd.concat([ser1,ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [89]:
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

make_df('ABC', [1,2])

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

In [95]:
df1 = make_df('AB', [1,2])
df2 = make_df('AB', [3,4])
pd.concat([df1, df2])

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [98]:
df3 = make_df('AB', [0, 1])
df4 = make_df('AB', [0, 1])
pd.concat([df3, df4])

    A   B
0  A0  B0
1  A1  B1
0  A0  B0
1  A1  B1

In [102]:
x = make_df('ABC', [1,2])
y = make_df('BCD', [3,4])
pd.concat([x,y], join='outer')

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [104]:
pd.concat([x,y], join='inner')

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4